// NeoGeo Core for Tang 138K - Constraint File
// This file defines the pin assignments for the Tang 138K

IO_LOC "clk_24m" 4;
IO_PORT "clk_24m" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "reset_n" 88;
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// HDMI pins
IO_LOC "tmds_p[0]" 71;  // Blue +
IO_LOC "tmds_n[0]" 72;  // Blue -
IO_LOC "tmds_p[1]" 73;  // Green +
IO_LOC "tmds_n[1]" 74;  // Green -
IO_LOC "tmds_p[2]" 75;  // Red +
IO_LOC "tmds_n[2]" 76;  // Red -
IO_LOC "tmds_p[3]" 77;  // Clock +
IO_LOC "tmds_n[3]" 78;  // Clock -

IO_PORT "tmds_p[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_p[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_p[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_p[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "tmds_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// SDRAM pins
IO_LOC "sdram_clk" 52;
IO_LOC "sdram_cke" 53;
IO_LOC "sdram_cs_n" 54;
IO_LOC "sdram_ras_n" 55;
IO_LOC "sdram_cas_n" 56;
IO_LOC "sdram_we_n" 57;
IO_LOC "sdram_ba[0]" 58;
IO_LOC "sdram_ba[1]" 59;
IO_LOC "sdram_a[0]" 60;
IO_LOC "sdram_a[1]" 61;
IO_LOC "sdram_a[2]" 62;
IO_LOC "sdram_a[3]" 63;
IO_LOC "sdram_a[4]" 64;
IO_LOC "sdram_a[5]" 65;
IO_LOC "sdram_a[6]" 66;
IO_LOC "sdram_a[7]" 67;
IO_LOC "sdram_a[8]" 68;
IO_LOC "sdram_a[9]" 69;
IO_LOC "sdram_a[10]" 70;
IO_LOC "sdram_a[11]" 41;
IO_LOC "sdram_a[12]" 42;
IO_LOC "sdram_dq[0]" 43;
IO_LOC "sdram_dq[1]" 44;
IO_LOC "sdram_dq[2]" 45;
IO_LOC "sdram_dq[3]" 46;
IO_LOC "sdram_dq[4]" 47;
IO_LOC "sdram_dq[5]" 48;
IO_LOC "sdram_dq[6]" 49;
IO_LOC "sdram_dq[7]" 50;
IO_LOC "sdram_dq[8]" 30;
IO_LOC "sdram_dq[9]" 31;
IO_LOC "sdram_dq[10]" 32;
IO_LOC "sdram_dq[11]" 33;
IO_LOC "sdram_dq[12]" 34;
IO_LOC "sdram_dq[13]" 35;
IO_LOC "sdram_dq[14]" 36;
IO_LOC "sdram_dq[15]" 37;
IO_LOC "sdram_dqml" 38;
IO_LOC "sdram_dqmh" 39;

IO_PORT "sdram_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_cke" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_ras_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_cas_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_we_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_a[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dqml" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sdram_dqmh" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// BL616 UART interface
IO_LOC "uart_rx" 15;
IO_LOC "uart_tx" 16;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// Debug LEDs
IO_LOC "leds[0]" 86;
IO_LOC "leds[1]" 87;
IO_PORT "leds[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "leds[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
